@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*LE BLOC (Ce qui fait que c'est un bouton) */
.btn {
  border-radius: 100px;
  border: 2px solid #221f1f;
  font-family:'Manrope', sans-serif;
  color: #221f1f;
  cursor: pointer;
  font-weight: 400;

  padding: 12px 30px;
  transition: all 0.1s;
  outline: none;
}
  .btn:active {
    box-shadow: 0px 0px 0px 0px #221f1f;
    transform: translate(4px, 4px);

  }


/* LES MODIFICATEURS */

/* Modificateur 1 : Le bouton classique */
.btn--normal {
  border-radius: 100px;
  border: 2px solid #221f1f;
  font-family:'Manrope', sans-serif;
  color: #221f1f;
  cursor: pointer;
  font-weight: 400;

  padding: 12px 30px;
  transition: all 0.1s;
  outline: none;
}
  .btn:active {
    box-shadow: 0px 0px 0px 0px #221f1f;
    transform: translate(4px, 4px);

  }


/* Modificateur 2 : La bonne réponse (Vert) */
.btn--reponse {

    background-color: #78BF90; 
    
   
    border: 2px solid #2B2424;

    color: #2B2424;
    
    padding: 10px 30px;
    border-radius: 100px;
    
    
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 13px;

    
    box-shadow: 4px 4px 0px 0px #2B2424;

 
    cursor: pointer;
    display: inline-block;
    transition: all 0.1s;
    outline: none;
}


.btn--reponse:active {
    box-shadow: 0px 0px 0px 0px #2B2424;
    transform: translate(4px, 4px);
}

/* Modificateur 3 : La mauvaise réponse (Rouge) */
.btn--erreur {

    background-color: #D7524D; 
 
    border: 2px solid #2B2424;
    
    
    color: #2B2424;
 
    padding: 10px 30px;
    border-radius: 100px;
    
  
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 13px;

  
    box-shadow: 4px 4px 0px 0px #2B2424;

    cursor: pointer;
    display: inline-block;
    transition: all 0.1s;
    outline: none;
}


.btn--erreur:active {
    box-shadow: 0px 0px 0px 0px #2B2424;
    transform: translate(4px, 4px);
}
