body {
    background-color: #E9E0DB; 
    margin: 0; 
    padding: 0;
    font-family: 'Manrope', sans-serif; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.top-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:22px;
}

h1 {
    font-family: 'EightiesComeback', serif; /* La belle police du titre */
    font-size: 60px;
    color: #2B2424;
    margin: 0;
}

span {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #2B2424; 
    border-radius: 10px;
    color: #2B2424;
    background-color: yellow;
    
}


/* images */
.image-dish {
    width: 148px;
    height: 132px;
    object-fit: contain;
}

.image-wiki {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    object-position: center center;
    border-radius: 16px;
}

